Django==5.2.10
djangorestframework
gunicorn

numpy
faiss-cpu
sentence-transformers
transformers
huggingface_hub
torch==2.2.2+cpu --index-url https://download.pytorch.org/whl/cpu

groq
pypdf
scikit-learn
scipy
tqdm
